In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# year to date data
ytd = pd.read_csv('data/NYPD_Complaint_Data_Current__Year_To_Date_.csv')

In [4]:
ytd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96734 entries, 0 to 96733
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CMPLNT_NUM                96734 non-null  int64
 1   ADDR_PCT_CD               96734 non-null  int64
 2   BORO_NM                   96632 non-null  object
 3   CMPLNT_FR_DT              96734 non-null  object
 4   CMPLNT_FR_TM              96734 non-null  object
 5   CMPLNT_TO_DT              88039 non-null  object
 6   CMPLNT_TO_TM              88067 non-null  object
 7   CRM_ATPT_CPTD_CD          96682 non-null  object
 8   HADEVELOPT                395 non-null    object
 9   HOUSING_PSA               7868 non-null   float64
 10  JURISDICTION_CODE         96646 non-null  float64
 11  JURIS_DESC                96734 non-null  object
 12  KY_CD                     96734 non-null  int64
 13  LAW_CAT_CD                96734 non-null  object
 14  LOC_OF_OCCUR_DESC         81791 non-null  object
 15  OFNS_DESC                 96731 non-null  object
 16  PARKS_NM                  352 non-null    object
 17  PATROL_BORO               96646 non-null  object
 18  PD_CD                     96646 non-null  float64
 19  PD_DESC                   96646 non-null  object
 20  PREM_TYP_DESC             96462 non-null  object
 21  RPT_DT                    96734 non-null  object
 22  STATION_NAME              1939 non-null   object
 23  SUSP_AGE_GROUP            76359 non-null  object
 24  SUSP_RACE                 76359 non-null  object
 25  SUSP_SEX                  76359 non-null  object
 26  TRANSIT_DISTRICT          1939 non-null   float64
 27  VIC_AGE_GROUP             96734 non-null  object
 28  VIC_RACE                  96731 non-null  object
 29  VIC_SEX                   96734 non-null  object
 30  X_COORD_CD                96734 non-null  int64
 31  Y_COORD_CD                96734 non-null  int64
 32  Latitude                  96734 non-null  float64
 33  Longitude                 96734 non-null  float64
 34  Lat_Lon                   96734 non-null  object
 35  New Georeferenced Column  96734 non-null  object
dtypes: float64(6), int64(5), object(25)
memory usage: 26.6+ MB

In [5]:
# remove this column because it isn't in the historical and is redundant
ytd.drop(['New Georeferenced Column'], axis=1, inplace=True)

In [6]:
# historical dataset
hist = pd.read_csv('data/NYPD_Complaint_Data_Historic.csv')

In [7]:
# combine two datasets
complaints = pd.concat([ytd, hist])

In [8]:
complaints['CMPLNT_DATE'] = pd.to_datetime(complaints['CMPLNT_FR_DT'], format='%m/%d/%Y')

In [9]:
complaints.shape

(959169, 36)

In [10]:
complaints.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,JURISDICTION_CODE,JURIS_DESC,KY_CD,LAW_CAT_CD,LOC_OF_OCCUR_DESC,OFNS_DESC,PARKS_NM,PATROL_BORO,PD_CD,PD_DESC,PREM_TYP_DESC,RPT_DT,STATION_NAME,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,CMPLNT_DATE
0,825041611,84,BROOKLYN,03/31/2021,15:08:00,03/31/2021,15:12:00,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,675,VIOLATION,NaN,ADMINISTRATIVE CODE,NaN,PATROL BORO BKLYN NORTH,874.0,"PEDDLING,UNLAWFUL",STREET,03/31/2021,NaN,25-44,BLACK,M,NaN,UNKNOWN,UNKNOWN,E,988041,191045,40.691059,-73.986331,"(40.69105856700002, -73.98633121699999)",2021-03-31
1,206649900,7,NaN,03/27/2021,19:29:00,NaN,NaN,NaN,NaN,NaN,0.0,N.Y. POLICE DEPT,341,MISDEMEANOR,NaN,PETIT LARCENY,NaN,PATROL BORO MAN SOUTH,333.0,"LARCENY,PETIT FROM STORE-SHOPL",NaN,03/28/2021,NaN,NaN,NaN,NaN,NaN,25-44,WHITE HISPANIC,D,987818,200162,40.716083,-73.987131,"(40.71608268700004, -73.98713051799997)",2021-03-27
2,294801329,75,NaN,03/27/2021,13:00:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,N.Y. POLICE DEPT,101,FELONY,OUTSIDE,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,NaN,NaN,NaN,03/27/2021,NaN,25-44,BLACK,M,NaN,25-44,BLACK,M,1018889,182737,40.668188,-73.875137,"(40.66818803900002, -73.87513706799997)",2021-03-27
3,270261096,14,MANHATTAN,03/26/2021,16:40:00,NaN,NaN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,341,MISDEMEANOR,INSIDE,PETIT LARCENY,NaN,PATROL BORO MAN SOUTH,333.0,"LARCENY,PETIT FROM STORE-SHOPL",DEPARTMENT STORE,03/26/2021,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,D,987220,212676,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)",2021-03-26
4,433883572,110,QUEENS,03/26/2021,13:09:00,03/26/2021,14:29:00,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,113,FELONY,INSIDE,FORGERY,NaN,PATROL BORO QUEENS NORTH,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",SMALL MERCHANT,03/26/2021,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,D,1021552,212402,40.749601,-73.865373,"(40.74960053300003, -73.86537333399998)",2021-03-26

In [11]:
complaints.ADDR_PCT_CD.unique()

array([ 84,   7,  75,  14, 110, 115,  52, 102,  43,  34,  44,  46,  47,
       103,  49,  69,  70, 113,  67,  79,  48,  60,  42,  50,  25,  10,
        45,  41,  28,  13, 105,  40,  71,  76,  81, 114, 122,  73,   5,
       104,  77,  90, 112,  62,  17, 121, 120, 101,  23,  63, 106, 107,
        20,  32,  30,   9,  66,  68,  83, 109,  18, 123,  19,  33,  94,
        61,   6,  24,   1,  78, 108,  88,  72, 100, 111,  26,  22, -99],
      dtype=int64)

In [12]:
complaints.LAW_CAT_CD.unique()

array(['VIOLATION', 'MISDEMEANOR', 'FELONY'], dtype=object)

In [13]:
complaints.OFNS_DESC.nunique()

65

In [14]:
complaints.PD_DESC.nunique()

369

In [15]:
complaints.loc[(pd.DatetimeIndex(complaints['CMPLNT_DATE']).year == 2020) & (pd.DatetimeIndex(complaints['CMPLNT_DATE']).month == 4) & (pd.DatetimeIndex(complaints['CMPLNT_DATE']).day.isin([1,2,3])) & (complaints['ADDR_PCT_CD'].isin([61,66,67,70,76]))]['CMPLNT_NUM'].count()

155

In [22]:
complaints.loc[(pd.DatetimeIndex(complaints['CMPLNT_DATE']).year == 2020) & (pd.DatetimeIndex(complaints['CMPLNT_DATE']).month.isin([4,5,6])) & (complaints['ADDR_PCT_CD'].isin([61,66,67,70,76]))].groupby(['ADDR_PCT_CD','CMPLNT_DATE'])['CMPLNT_NUM'].count()

                         CMPLNT_NUM
ADDR_PCT_CD CMPLNT_DATE
61          2020-04-01           15
            2020-04-02           10
            2020-04-03            5
            2020-04-04            6
            2020-04-05           14
...                             ...
76          2020-06-26            1
            2020-06-27            5
            2020-06-28            4
            2020-06-29            1
            2020-06-30            6

[452 rows x 1 columns]

In [17]:
# complaints.resample('M', on='CMPLNT_DATE').count()

cmp_2020_456 = complaints.loc[(complaints['ADDR_PCT_CD'].isin([61,66,67,70,76])) & (pd.DatetimeIndex(complaints['CMPLNT_DATE']).year == 2020) & (pd.DatetimeIndex(complaints['CMPLNT_DATE']).month.isin([4,5,6]))]

In [18]:
cmp_2020_456.resample('m', on='CMPLNT_DATE').count()['CMPLNT_NUM']

CMPLNT_DATE
2020-04-30    1456
2020-05-31    1914
2020-06-30    1897
Freq: M, Name: CMPLNT_NUM, dtype: int64

In [23]:
cmp_2020_456.groupby('ADDR_PCT_CD').resample('m', on='CMPLNT_DATE').count()['CMPLNT_NUM']

ADDR_PCT_CD  CMPLNT_DATE
61           2020-04-30     266
             2020-05-31     374
             2020-06-30     370
66           2020-04-30     227
             2020-05-31     291
             2020-06-30     337
67           2020-04-30     470
             2020-05-31     576
             2020-06-30     547
70           2020-04-30     381
             2020-05-31     501
             2020-06-30     489
76           2020-04-30     112
             2020-05-31     172
             2020-06-30     154
Name: CMPLNT_NUM, dtype: int64

In [20]:
pd.DataFrame(complaints.loc[(complaints.BORO_NM == 'BRONX') & (complaints.LAW_CAT_CD == 'FELONY')].groupby(['BORO_NM','Lat_Lon', 'OFNS_DESC'])['CMPLNT_NUM'].count()).sort_values(by=['Lat_Lon'], ascending=False)[:12]

                                                                                 CMPLNT_NUM
BORO_NM Lat_Lon                                  OFNS_DESC
BRONX   (40.91272339600005, -73.90252535799993)  THEFT-FRAUD                              1
                                                 GRAND LARCENY                            5
                                                 FORGERY                                  1
                                                 FELONY ASSAULT                           2
        (40.91235130500007, -73.90069520599997)  GRAND LARCENY OF MOTOR VEHICLE           1
                                                 GRAND LARCENY                            1
        (40.91130746300007, -73.90290369799999)  CRIMINAL MISCHIEF & RELATED OF           1
                                                 BURGLARY                                 1
        (40.911095343000056, -73.90198144099998) GRAND LARCENY                            1
        (40.911095343000056, -73.90198144099996) GRAND LARCENY                            1
        (40.91095460600008, -73.90109164399996)  GRAND LARCENY                            1
                                                 CRIMINAL MISCHIEF & RELATED OF           1