In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

## Loading Data

In [3]:
# year to date data
ytd = pd.read_csv('data/NYPD_Complaint_Data_Current__Year_To_Date_.csv')

In [4]:
ytd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96734 entries, 0 to 96733
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CMPLNT_NUM                96734 non-null  int64
 1   ADDR_PCT_CD               96734 non-null  int64
 2   BORO_NM                   96632 non-null  object
 3   CMPLNT_FR_DT              96734 non-null  object
 4   CMPLNT_FR_TM              96734 non-null  object
 5   CMPLNT_TO_DT              88039 non-null  object
 6   CMPLNT_TO_TM              88067 non-null  object
 7   CRM_ATPT_CPTD_CD          96682 non-null  object
 8   HADEVELOPT                395 non-null    object
 9   HOUSING_PSA               7868 non-null   float64
 10  JURISDICTION_CODE         96646 non-null  float64
 11  JURIS_DESC                96734 non-null  object
 12  KY_CD                     96734 non-null  int64
 13  LAW_CAT_CD                96734 non-null  object
 14  LOC_OF_OCCUR_DESC         81791 non-null  object
 15  OFNS_DESC                 96731 non-null  object
 16  PARKS_NM                  352 non-null    object
 17  PATROL_BORO               96646 non-null  object
 18  PD_CD                     96646 non-null  float64
 19  PD_DESC                   96646 non-null  object
 20  PREM_TYP_DESC             96462 non-null  object
 21  RPT_DT                    96734 non-null  object
 22  STATION_NAME              1939 non-null   object
 23  SUSP_AGE_GROUP            76359 non-null  object
 24  SUSP_RACE                 76359 non-null  object
 25  SUSP_SEX                  76359 non-null  object
 26  TRANSIT_DISTRICT          1939 non-null   float64
 27  VIC_AGE_GROUP             96734 non-null  object
 28  VIC_RACE                  96731 non-null  object
 29  VIC_SEX                   96734 non-null  object
 30  X_COORD_CD                96734 non-null  int64
 31  Y_COORD_CD                96734 non-null  int64
 32  Latitude                  96734 non-null  float64
 33  Longitude                 96734 non-null  float64
 34  Lat_Lon                   96734 non-null  object
 35  New Georeferenced Column  96734 non-null  object
dtypes: float64(6), int64(5), object(25)
memory usage: 26.6+ MB

In [5]:
# remove this column because it isn't in the historical and is redundant
ytd.drop(['New Georeferenced Column'], axis=1, inplace=True)

In [6]:
# historical dataset
hist = pd.read_csv('data/NYPD_Complaint_Data_Historic.csv')

In [7]:
hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 862435 entries, 0 to 862434
Data columns (total 35 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CMPLNT_NUM         862435 non-null  int64
 1   CMPLNT_FR_DT       862435 non-null  object
 2   CMPLNT_FR_TM       862435 non-null  object
 3   CMPLNT_TO_DT       767304 non-null  object
 4   CMPLNT_TO_TM       767663 non-null  object
 5   ADDR_PCT_CD        862435 non-null  int64
 6   RPT_DT             862435 non-null  object
 7   KY_CD              862435 non-null  int64
 8   OFNS_DESC          862422 non-null  object
 9   PD_CD              861693 non-null  float64
 10  PD_DESC            861693 non-null  object
 11  CRM_ATPT_CPTD_CD   862435 non-null  object
 12  LAW_CAT_CD         862435 non-null  object
 13  BORO_NM            861664 non-null  object
 14  LOC_OF_OCCUR_DESC  714705 non-null  object
 15  PREM_TYP_DESC      859502 non-null  object
 16  JURIS_DESC         862435 non-null  object
 17  JURISDICTION_CODE  861693 non-null  float64
 18  PARKS_NM           6668 non-null    object
 19  HADEVELOPT         22727 non-null   object
 20  HOUSING_PSA        63310 non-null   float64
 21  X_COORD_CD         862435 non-null  int64
 22  Y_COORD_CD         862435 non-null  int64
 23  SUSP_AGE_GROUP     662352 non-null  object
 24  SUSP_RACE          662352 non-null  object
 25  SUSP_SEX           662352 non-null  object
 26  TRANSIT_DISTRICT   18957 non-null   float64
 27  Latitude           862435 non-null  float64
 28  Longitude          862435 non-null  float64
 29  Lat_Lon            862435 non-null  object
 30  PATROL_BORO        861693 non-null  object
 31  STATION_NAME       18957 non-null   object
 32  VIC_AGE_GROUP      862431 non-null  object
 33  VIC_RACE           862431 non-null  object
 34  VIC_SEX            862431 non-null  object
dtypes: float64(6), int64(5), object(24)
memory usage: 230.3+ MB

In [8]:
# combine two datasets
complaints = pd.concat([ytd, hist])

In [9]:
complaints['complaint_date'] = pd.to_datetime(complaints['CMPLNT_FR_DT'], format='%m/%d/%Y')

In [10]:
complaints.shape

(959169, 36)

In [11]:
complaints.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,JURISDICTION_CODE,JURIS_DESC,KY_CD,LAW_CAT_CD,LOC_OF_OCCUR_DESC,OFNS_DESC,PARKS_NM,PATROL_BORO,PD_CD,PD_DESC,PREM_TYP_DESC,RPT_DT,STATION_NAME,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,complaint_date
0,825041611,84,BROOKLYN,03/31/2021,15:08:00,03/31/2021,15:12:00,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,675,VIOLATION,NaN,ADMINISTRATIVE CODE,NaN,PATROL BORO BKLYN NORTH,874.0,"PEDDLING,UNLAWFUL",STREET,03/31/2021,NaN,25-44,BLACK,M,NaN,UNKNOWN,UNKNOWN,E,988041,191045,40.691059,-73.986331,"(40.69105856700002, -73.98633121699999)",2021-03-31
1,206649900,7,NaN,03/27/2021,19:29:00,NaN,NaN,NaN,NaN,NaN,0.0,N.Y. POLICE DEPT,341,MISDEMEANOR,NaN,PETIT LARCENY,NaN,PATROL BORO MAN SOUTH,333.0,"LARCENY,PETIT FROM STORE-SHOPL",NaN,03/28/2021,NaN,NaN,NaN,NaN,NaN,25-44,WHITE HISPANIC,D,987818,200162,40.716083,-73.987131,"(40.71608268700004, -73.98713051799997)",2021-03-27
2,294801329,75,NaN,03/27/2021,13:00:00,NaN,NaN,COMPLETED,NaN,NaN,NaN,N.Y. POLICE DEPT,101,FELONY,OUTSIDE,MURDER & NON-NEGL. MANSLAUGHTER,NaN,NaN,NaN,NaN,NaN,03/27/2021,NaN,25-44,BLACK,M,NaN,25-44,BLACK,M,1018889,182737,40.668188,-73.875137,"(40.66818803900002, -73.87513706799997)",2021-03-27
3,270261096,14,MANHATTAN,03/26/2021,16:40:00,NaN,NaN,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,341,MISDEMEANOR,INSIDE,PETIT LARCENY,NaN,PATROL BORO MAN SOUTH,333.0,"LARCENY,PETIT FROM STORE-SHOPL",DEPARTMENT STORE,03/26/2021,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,D,987220,212676,40.750431,-73.989282,"(40.75043076800005, -73.98928217599996)",2021-03-26
4,433883572,110,QUEENS,03/26/2021,13:09:00,03/26/2021,14:29:00,COMPLETED,NaN,NaN,0.0,N.Y. POLICE DEPT,113,FELONY,INSIDE,FORGERY,NaN,PATROL BORO QUEENS NORTH,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELO",SMALL MERCHANT,03/26/2021,NaN,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,D,1021552,212402,40.749601,-73.865373,"(40.74960053300003, -73.86537333399998)",2021-03-26

## Cleaning Data

In [12]:
clean_df = complaints.loc[(complaints['LAW_CAT_CD'] == 'FELONY') & 
               (complaints['JURIS_DESC'] == 'N.Y. POLICE DEPT') &
               ((complaints['complaint_date'] >= '2019-01-01') & (complaints['complaint_date'] <= '2021-07-01'))
              ]

In [13]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270221 entries, 2 to 862434
Data columns (total 36 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CMPLNT_NUM         270221 non-null  int64
 1   ADDR_PCT_CD        270221 non-null  int64
 2   BORO_NM            269535 non-null  object
 3   CMPLNT_FR_DT       270221 non-null  object
 4   CMPLNT_FR_TM       270221 non-null  object
 5   CMPLNT_TO_DT       245268 non-null  object
 6   CMPLNT_TO_TM       245345 non-null  object
 7   CRM_ATPT_CPTD_CD   270221 non-null  object
 8   HADEVELOPT         240 non-null     object
 9   HOUSING_PSA        333 non-null     float64
 10  JURISDICTION_CODE  269537 non-null  float64
 11  JURIS_DESC         270221 non-null  object
 12  KY_CD              270221 non-null  int64
 13  LAW_CAT_CD         270221 non-null  object
 14  LOC_OF_OCCUR_DESC  225510 non-null  object
 15  OFNS_DESC          270209 non-null  object
 16  PARKS_NM           2589 non-null    object
 17  PATROL_BORO        269537 non-null  object
 18  PD_CD              269537 non-null  float64
 19  PD_DESC            269537 non-null  object
 20  PREM_TYP_DESC      268751 non-null  object
 21  RPT_DT             270221 non-null  object
 22  STATION_NAME       29 non-null      object
 23  SUSP_AGE_GROUP     195077 non-null  object
 24  SUSP_RACE          195077 non-null  object
 25  SUSP_SEX           195077 non-null  object
 26  TRANSIT_DISTRICT   29 non-null      float64
 27  VIC_AGE_GROUP      270221 non-null  object
 28  VIC_RACE           270221 non-null  object
 29  VIC_SEX            270221 non-null  object
 30  X_COORD_CD         270221 non-null  int64
 31  Y_COORD_CD         270221 non-null  int64
 32  Latitude           270221 non-null  float64
 33  Longitude          270221 non-null  float64
 34  Lat_Lon            270221 non-null  object
 35  complaint_date     270221 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(5), object(24)
memory usage: 76.3+ MB

In [14]:
# remove columns that aren't needed
try:
    clean_df = clean_df.drop(columns=[
        'CRM_ATPT_CPTD_CD',
        'HADEVELOPT',
        'HOUSING_PSA',
        'JURISDICTION_CODE',
        'JURIS_DESC',
        'PARKS_NM',
        'STATION_NAME',
        'SUSP_AGE_GROUP',
        'SUSP_RACE',
        'SUSP_SEX',
        'TRANSIT_DISTRICT',
        'VIC_AGE_GROUP',
        'VIC_RACE',
        'VIC_SEX',
        'LAW_CAT_CD',
        'RPT_DT',
        'X_COORD_CD',
        'Y_COORD_CD',
        'CMPLNT_FR_DT',
        'CMPLNT_FR_TM',
        'CMPLNT_TO_DT',
        'CMPLNT_TO_TM',
        'Lat_Lon',
        'BORO_NM'
    ], axis='columns')
except:
    pass

In [15]:
# rename columns
rename_dict = {
    "CMPLNT_NUM": "complaint_id",
    "ADDR_PCT_CD": "precinct",
    "CMPLNT_FR_DT": "complaint_from_date",
    "CMPLNT_FR_TM": "complaint_from_time",
    "CMPLNT_TO_DT": "complaint_to_date",
    "CMPLNT_TO_TM": "complaint_to_time",
    "KY_CD": "offense_id",
    "LOC_OF_OCCUR_DESC": "location_of_complaint",
    "OFNS_DESC": "offense",
    "PATROL_BORO": "patrol_boro",
    "PD_CD": "specific_offense_id",
    "PD_DESC": "specific_offense",
    "PREM_TYP_DESC": "premises_type",
    "Latitude": "latitude",
    "Longitude": "longitude"
}

clean_df = clean_df.rename(rename_dict, axis="columns")

In [16]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270221 entries, 2 to 862434
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   complaint_id           270221 non-null  int64
 1   precinct               270221 non-null  int64
 2   offense_id             270221 non-null  int64
 3   location_of_complaint  225510 non-null  object
 4   offense                270209 non-null  object
 5   patrol_boro            269537 non-null  object
 6   specific_offense_id    269537 non-null  float64
 7   specific_offense       269537 non-null  object
 8   premises_type          268751 non-null  object
 9   latitude               270221 non-null  float64
 10  longitude              270221 non-null  float64
 11  complaint_date         270221 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(3), object(5)
memory usage: 26.8+ MB

### Functions

In [17]:
# function to take missing data and lookup other the missing values from a common search field
def fill_missing_data(search_fld_vals, search_fld, missing_fld):
    l = list(clean_df.loc[(clean_df[search_fld] == search_fld_vals) &
                                ~(clean_df[missing_fld].isna())][missing_fld].unique())
    if len(l) == 1:
        clean_df.loc[(clean_df[search_fld] == search_fld_vals) & 
                     (clean_df[missing_fld].isna()), missing_fld] = l[0]
        return l[0]
    clean_df.loc[(clean_df[search_fld] == search_fld_vals) & 
                 (clean_df[missing_fld].isna()), missing_fld] = 'UNKNOWN'
    return 'UNKNOWN'

### Complaints

In [18]:
# check for uniqueness since this is the id field
clean_df.complaint_id.is_unique

True

In [19]:
# check min and max complaint date are within expected range
print(f"Min: {clean_df.complaint_date.min()} \nMax: {clean_df.complaint_date.max()}")

Min: 2019-01-01 00:00:00
Max: 2021-03-31 00:00:00

In [20]:
# check values
clean_df.location_of_complaint.value_counts(dropna=False)

INSIDE         137226
FRONT OF        74731
NaN             44711
OPPOSITE OF      7768
REAR OF          5330
OUTSIDE           455
Name: location_of_complaint, dtype: int64

In [21]:
# handle na
clean_df.location_of_complaint.fillna('UNKNOWN', inplace=True)

In [22]:
# check values
clean_df.premises_type.sort_values().unique()

array(['ABANDONED BUILDING', 'AIRPORT TERMINAL', 'ATM', 'BANK',
       'BAR/NIGHT CLUB', 'BEAUTY & NAIL SALON', 'BOOK/CARD', 'BRIDGE',
       'BUS (NYC TRANSIT)', 'BUS (OTHER)', 'BUS STOP', 'BUS TERMINAL',
       'CANDY STORE', 'CEMETERY', 'CHAIN STORE', 'CHECK CASHING BUSINESS',
       'CHURCH', 'CLOTHING/BOUTIQUE', 'COMMERCIAL BUILDING',
       'CONSTRUCTION SITE', 'DAYCARE FACILITY', 'DEPARTMENT STORE',
       'DOCTOR/DENTIST OFFICE', 'DRUG STORE', 'DRY CLEANER/LAUNDRY',
       'FACTORY/WAREHOUSE', 'FAST FOOD', 'FERRY/FERRY TERMINAL',
       'FOOD SUPERMARKET', 'GAS STATION', 'GROCERY/BODEGA',
       'GYM/FITNESS FACILITY', 'HIGHWAY/PARKWAY', 'HOMELESS SHELTER',
       'HOSPITAL', 'HOTEL/MOTEL', 'JEWELRY', 'LIQUOR STORE',
       'LOAN COMPANY', 'MAILBOX INSIDE', 'MAILBOX OUTSIDE', 'MARINA/PIER',
       'MOSQUE', 'OPEN AREAS (OPEN LOTS)', 'OTHER',
       'OTHER HOUSE OF WORSHIP', 'PARK/PLAYGROUND',
       'PARKING LOT/GARAGE (PRIVATE)', 'PARKING LOT/GARAGE (PUBLIC)',
       'PHOTO/COPY', 'PRIVATE/PAROCHIAL SCHOOL', 'PUBLIC BUILDING',
       'PUBLIC SCHOOL', 'RESIDENCE - APT. HOUSE',
       'RESIDENCE - PUBLIC HOUSING', 'RESIDENCE-HOUSE',
       'RESTAURANT/DINER', 'SHOE', 'SMALL MERCHANT', 'SOCIAL CLUB/POLICY',
       'STORAGE FACILITY', 'STORE UNCLASSIFIED', 'STREET', 'SYNAGOGUE',
       'TAXI (LIVERY LICENSED)', 'TAXI (YELLOW LICENSED)',
       'TAXI/LIVERY (UNLICENSED)', 'TELECOMM. STORE',
       'TRANSIT FACILITY (OTHER)', 'TUNNEL', 'VARIETY STORE',
       'VIDEO STORE', nan], dtype=object)

In [23]:
# handle na
clean_df.premises_type.fillna('UNKNOWN', inplace=True)

In [24]:
# get the complaints specific fields that will be loaded into heo4j
complaint_data = clean_df.loc[:,['complaint_id', 'complaint_date', 'location_of_complaint', 'premises_type']]
complaint_data.head()

    complaint_id complaint_date location_of_complaint           premises_type
2      294801329     2021-03-27               OUTSIDE                 UNKNOWN
4      433883572     2021-03-26                INSIDE          SMALL MERCHANT
6      730095503     2021-03-22               UNKNOWN                  STREET
8      900168985     2021-03-22                INSIDE  RESIDENCE - APT. HOUSE
11     507241260     2020-02-15                INSIDE  RESIDENCE - APT. HOUSE

In [25]:
# export to csv
complaint_data.to_csv('./data/imports_neo4j/complaints.csv', index=None)

### Precinct Names

In [26]:
# check precinct values
clean_df.precinct.sort_values().unique()

array([  1,   5,   6,   7,   9,  10,  13,  14,  17,  18,  19,  20,  22,
        23,  24,  25,  26,  28,  30,  32,  33,  34,  40,  41,  42,  43,
        44,  45,  46,  47,  48,  49,  50,  52,  60,  61,  62,  63,  66,
        67,  68,  69,  70,  71,  72,  73,  75,  76,  77,  78,  79,  81,
        83,  84,  88,  90,  94, 100, 101, 102, 103, 104, 105, 106, 107,
       108, 109, 110, 111, 112, 113, 114, 115, 120, 121, 122, 123],
      dtype=int64)

In [27]:
# convert precinct to string
clean_df['precinct'] = clean_df.precinct.astype('str')

In [28]:
# prepend 'Precinct ' to the precinct field
clean_df['precinct'] = 'Precinct ' + clean_df.precinct

In [29]:
# view patrol boro categories
clean_df.patrol_boro.value_counts(dropna=False)

PATROL BORO BRONX            54831
PATROL BORO BKLYN SOUTH      41188
PATROL BORO BKLYN NORTH      40936
PATROL BORO MAN SOUTH        33385
PATROL BORO MAN NORTH        30006
PATROL BORO QUEENS NORTH     29887
PATROL BORO QUEENS SOUTH     29746
PATROL BORO STATEN ISLAND     9558
NaN                            684
Name: patrol_boro, dtype: int64

In [30]:
# remove the PATROL BORO text
clean_df['patrol_boro'] = clean_df.patrol_boro.str.replace('PATROL BORO ', '')

In [31]:
# check for any records missing the patrol boro
missing_patrol_boro = list(clean_df[clean_df.patrol_boro.isna()].precinct.unique())

In [32]:
# call fucntionto run through missing patrol boros and fill them in
[fill_missing_data(precinct, 'precinct', 'patrol_boro') for precinct in missing_patrol_boro]

['BKLYN NORTH',
 'QUEENS SOUTH',
 'BKLYN SOUTH',
 'BKLYN SOUTH',
 'QUEENS SOUTH',
 'BKLYN SOUTH',
 'BRONX',
 'BRONX',
 'BKLYN NORTH',
 'STATEN ISLAND',
 'STATEN ISLAND',
 'BRONX',
 'BKLYN NORTH',
 'BKLYN SOUTH',
 'MAN NORTH',
 'MAN SOUTH',
 'MAN NORTH',
 'BKLYN NORTH',
 'QUEENS SOUTH',
 'QUEENS NORTH',
 'BKLYN SOUTH',
 'MAN NORTH',
 'BRONX',
 'BRONX',
 'MAN SOUTH',
 'MAN NORTH',
 'BKLYN NORTH',
 'BRONX',
 'BKLYN SOUTH',
 'BRONX',
 'QUEENS SOUTH',
 'BKLYN SOUTH',
 'MAN SOUTH',
 'BRONX',
 'BRONX',
 'STATEN ISLAND',
 'BRONX',
 'QUEENS NORTH',
 'MAN NORTH',
 'MAN NORTH',
 'BKLYN SOUTH',
 'QUEENS SOUTH',
 'QUEENS NORTH',
 'BRONX',
 'QUEENS NORTH',
 'STATEN ISLAND',
 'BRONX',
 'QUEENS NORTH',
 'MAN NORTH',
 'MAN NORTH',
 'BKLYN NORTH',
 'QUEENS SOUTH',
 'BKLYN SOUTH',
 'MAN NORTH',
 'MAN NORTH',
 'QUEENS SOUTH',
 'BKLYN NORTH',
 'BKLYN NORTH',
 'MAN SOUTH',
 'MAN NORTH',
 'MAN SOUTH',
 'QUEENS SOUTH',
 'MAN NORTH',
 'BKLYN SOUTH',
 'BKLYN SOUTH',
 'MAN SOUTH',
 'BKLYN SOUTH',
 'QUEENS NORTH',
 'MAN SOUTH',
 'MAN SOUTH',
 'BKLYN SOUTH',
 'BKLYN NORTH',
 'QUEENS NORTH',
 'MAN SOUTH']

In [33]:
# get the precinct specific fields that will be loaded into heo4j
precincts = clean_df.loc[:,['complaint_id', 'precinct', 'patrol_boro']]
precincts.head()

    complaint_id      precinct   patrol_boro
2      294801329   Precinct 75   BKLYN NORTH
4      433883572  Precinct 110  QUEENS NORTH
6      730095503   Precinct 52         BRONX
8      900168985   Precinct 43         BRONX
11     507241260   Precinct 46         BRONX

In [36]:
# get precinct area from nypd precincts file
precinct_area = pd.read_csv('./data/nypd_precincts.csv')
precinct_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      77 non-null     object
 1   precinct  77 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.3+ KB

In [37]:
# remove commas from area so it can be converted to float
precinct_area['area'] = precinct_area.area.str.replace(',','')

In [38]:
# convert area to float
precinct_area['area'] = precinct_area.area.astype(float)

In [39]:
precinct_area

            area  precinct
0   4.731589e+07         1
1   1.808880e+07         5
2   2.209819e+07         6
3   4.533179e+07        71
4   1.046213e+08        72
..           ...       ...
72  1.133427e+08       115
73  2.323947e+08       120
74  4.756087e+08       121
75  4.548033e+08       122
76  4.608700e+08       123

[77 rows x 2 columns]

In [40]:
# convert precinct to string
precinct_area['precinct'] = precinct_area.precinct.astype('str')

In [41]:
# prepend 'Precinct ' to the precinct field
precinct_area['precinct'] = 'Precinct ' + precinct_area.precinct
precinct_area

            area      precinct
0   4.731589e+07    Precinct 1
1   1.808880e+07    Precinct 5
2   2.209819e+07    Precinct 6
3   4.533179e+07   Precinct 71
4   1.046213e+08   Precinct 72
..           ...           ...
72  1.133427e+08  Precinct 115
73  2.323947e+08  Precinct 120
74  4.756087e+08  Precinct 121
75  4.548033e+08  Precinct 122
76  4.608700e+08  Precinct 123

[77 rows x 2 columns]

In [42]:
# merged precincts and precincts area data frames
precincts_merged = precincts.merge(precinct_area, how='outer', on='precinct')
precincts_merged

        complaint_id     precinct  patrol_boro          area
0          294801329  Precinct 75  BKLYN NORTH  1.803843e+08
1          444277080  Precinct 75  BKLYN NORTH  1.803843e+08
2          415582914  Precinct 75  BKLYN NORTH  1.803843e+08
3          896161140  Precinct 75  BKLYN NORTH  1.803843e+08
4          413986979  Precinct 75  BKLYN NORTH  1.803843e+08
...              ...          ...          ...           ...
270216     215729359  Precinct 78  BKLYN SOUTH  6.767711e+07
270217     731445070  Precinct 78  BKLYN SOUTH  6.767711e+07
270218     959502021  Precinct 78  BKLYN SOUTH  6.767711e+07
270219     520929376  Precinct 78  BKLYN SOUTH  6.767711e+07
270220     227897511  Precinct 78  BKLYN SOUTH  6.767711e+07

[270221 rows x 4 columns]

In [43]:
# check that every precinct has an area
precincts_merged.area.isna().sum()

0

In [44]:
# export to csv
precincts_merged.to_csv('./data/imports_neo4j/precincts.csv', index=None)

### General Offenses

In [45]:
clean_df.offense.sort_values().unique()

array(['ARSON', 'BURGLARY', 'CHILD ABANDONMENT/NON SUPPORT',
       'CRIMINAL MISCHIEF & RELATED OF', 'DANGEROUS DRUGS',
       'DANGEROUS WEAPONS', 'ENDAN WELFARE INCOMP', 'FELONY ASSAULT',
       'FELONY SEX CRIMES', 'FORGERY', 'GAMBLING', 'GRAND LARCENY',
       'GRAND LARCENY OF MOTOR VEHICLE', 'HOMICIDE-NEGLIGENT,UNCLASSIFIE',
       'HOMICIDE-NEGLIGENT-VEHICLE', 'INTOXICATED/IMPAIRED DRIVING',
       'KIDNAPPING', 'KIDNAPPING & RELATED OFFENSES',
       'KIDNAPPING AND RELATED OFFENSES', 'MISCELLANEOUS PENAL LAW',
       'MURDER & NON-NEGL. MANSLAUGHTER', 'NYS LAWS-UNCLASSIFIED FELONY',
       'OTHER STATE LAWS (NON PENAL LA', 'POSSESSION OF STOLEN PROPERTY',
       'PROSTITUTION & RELATED OFFENSES', 'RAPE', 'ROBBERY', 'SEX CRIMES',
       'THEFT-FRAUD', nan], dtype=object)

In [46]:
# replace duplicate category
clean_df.loc[clean_df.offense == "KIDNAPPING AND RELATED OFFENSES", 'offense'] = 'KIDNAPPING & RELATED OFFENSES'

In [47]:
# convert offense id to string
clean_df['offense_id'] = clean_df.offense_id.astype(str)

In [48]:
clean_df.offense_id.unique()

array(['101', '113', '105', '107', '104', '109', '118', '106', '117',
       '110', '125', '126', '111', '112', '121', '114', '124', '116',
       '122', '120', '119', '115', '102', '103', '361'], dtype=object)

In [49]:
# check for any records missing the patrol boro
missing_offense = list(clean_df[clean_df.offense.isna()].offense_id.unique())
missing_offense

['126', '361']

In [50]:
[fill_missing_data(o, 'offense_id', 'offense') for o in missing_offense]

['MISCELLANEOUS PENAL LAW', 'UNKNOWN']

In [51]:
# get the general offense specific fields that will be loaded into heo4j
general_offenses = clean_df.loc[:,['complaint_id', 'offense', 'offense_id']]
general_offenses.head()

    complaint_id                          offense offense_id
2      294801329  MURDER & NON-NEGL. MANSLAUGHTER        101
4      433883572                          FORGERY        113
6      730095503                          ROBBERY        105
8      900168985                         BURGLARY        107
11     507241260                             RAPE        104

In [52]:
# export to csv
general_offenses.to_csv('./data/imports_neo4j/general_offenses.csv', index=None)

### Specific Offenses

In [53]:
clean_df.specific_offense_id.sort_values().unique()

array([100., 102., 103., 104., 105., 106., 107., 108., 109., 110., 112.,
       117., 122., 125., 153., 155., 157., 159., 164., 166., 168., 176.,
       177., 179., 180., 183., 184., 185., 186., 187., 193., 197., 198.,
       199., 204., 211., 213., 214., 221., 223., 224., 231., 233., 234.,
       241., 243., 244., 261., 263., 264., 265., 266., 267., 268., 269.,
       273., 285., 291., 293., 299., 360., 361., 363., 365., 366., 367.,
       371., 373., 375., 377., 379., 380., 381., 382., 383., 384., 385.,
       386., 387., 388., 389., 390., 391., 392., 393., 394., 395., 396.,
       397., 398., 399., 401., 402., 403., 404., 405., 406., 407., 408.,
       409., 410., 411., 412., 414., 415., 416., 417., 418., 419., 420.,
       421., 422., 423., 424., 425., 426., 428., 430., 431., 432., 433.,
       434., 435., 437., 438., 439., 440., 441., 442., 443., 445., 450.,
       451., 455., 457., 458., 459., 461., 489., 493., 494., 500., 501.,
       502., 503., 505., 507., 510., 512., 514., 515., 519., 520., 521.,
       524., 529., 530., 531., 532., 553., 557., 568., 570., 584., 585.,
       586., 587., 594., 596., 640., 641., 644., 648., 663., 664., 665.,
       672., 674., 691., 694., 695., 696., 697., 698., 708., 711., 723.,
       724., 725., 727., 729., 730., 739., 760., 761., 762., 764., 766.,
       772., 775., 779., 780., 781., 792., 793., 808., 844., 847., 904.,
        nan])

In [54]:
clean_df.specific_offense.unique()

array([nan, 'FORGERY,ETC.,UNCLASSIFIED-FELO',
       'ROBBERY,PERSONAL ELECTRONIC DEVICE', 'BURGLARY,RESIDENCE,DAY',
       'RAPE 2', 'LARCENY,GRAND FROM PERSON, BAG OPEN/DIP',
       'WEAPONS POSSESSION 3', 'ASSAULT 2,1,UNCLASSIFIED',
       'CONTROLLED SUBSTANCE,POSSESS.', 'BURGLARY,COMMERCIAL,DAY',
       'LARCENY,GRAND OF BICYCLE', 'FORGERY,DRIVERS LICENSE',
       'LARCENY,GRAND OF AUTO', 'NY STATE LAWS,UNCLASSIFIED FEL',
       'FORGERY,M.V. REGISTRATION', 'LARCENY,GRAND FROM STORE-SHOPL',
       'CRIMINAL CONTEMPT 1', 'RECKLESS ENDANGERMENT 1',
       'BURGLARY,TRUCK DAY', 'ROBBERY,OPEN AREA UNCLASSIFIED',
       'STOLEN PROPERTY 2,1,POSSESSION',
       'LARCENY,GRAND BY OPEN CREDIT CARD (NEW ACCT)',
       'LARCENY,GRAND FROM VEHICLE/MOTORCYCLE',
       'LARCENY,GRAND FROM RETAIL STORE, UNATTENDED',
       'ROBBERY,BEGIN AS SHOPLIFTING', 'LARCENY,GRAND PERSON,NECK CHAI',
       'LARCENY,GRAND FROM PERSON,PICK', 'FRAUD,UNCLASSIFIED-FELONY',
       'CRIMINAL MIS 2 & 3',
       'LARCENY,GRAND OF VEHICULAR/MOTORCYCLE ACCESSORIES',
       'MISCHIEF, CRIMINAL 3 & 2, OF M', 'LARCENY,GRAND FROM PERSON,UNCL',
       'MISCHIEF,CRIMINAL,    UNCL 2ND',
       'ROBBERY,COMMERCIAL UNCLASSIFIED',
       'LARCENY,GRAND FROM EATERY, UNATTENDED',
       'LARCENY,GRAND BY CREDIT CARD ACCT COMPROMISE-EXISTING ACCT',
       'ROBBERY,DWELLING',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-UNCLASSIFIED',
       'LARCENY,GRAND BY DISHONEST EMP',
       'LARCENY,GRAND FROM OPEN AREAS, UNATTENDED',
       'MAKING TERRORISTIC THREAT', 'BURGLARY,TRUCK NIGHT',
       'LARCENY,GRAND OF MOTORCYCLE',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-ATM TRANSACTION',
       'BURGLARY,COMMERCIAL,NIGHT',
       'ASSAULT OTHER PUBLIC SERVICE EMPLOYEE', 'STRANGULATION 1ST',
       'ARSON, MOTOR VEHICLE 1 2 3 & 4', 'WEAPONS POSSESSION 1 & 2',
       'LARCENY,GRAND BY OPEN/COMPROMISE CELL PHONE ACCT',
       'LARCENY,GRAND BY THEFT OF CREDIT CARD',
       'LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UNATTENDED', 'RAPE 1',
       'ROBBERY,BANK', 'BURGLARY,COMMERCIAL,UNKNOWN TI',
       'LARCENY,GRAND FROM PERSON,LUSH WORKER(SLEEPING/UNCON VICTIM)',
       'CONTROLLED SUBSTANCE,INTENT TO', 'ASSAULT POLICE/PEACE OFFICER',
       'LARCENY,GRAND FROM RESIDENCE, UNATTENDED',
       'LARCENY,GRAND FROM RESIDENCE/BUILDING,UNATTENDED, PACKAGE THEFT INSIDE',
       'CONTROLLED SUBSTANCE, INTENT T', 'LARCENY,GRAND BY EXTORTION',
       'CONTROLLED SUBSTANCE, SALE 5',
       'LARCENY,GRAND BY FALSE PROMISE-NOT IN PERSON CONTACT',
       'ROBBERY,BODEGA/CONVENIENCE STORE',
       'LARCENY,GRAND FROM PERSON,PURS', 'BURGLARY,RESIDENCE,UNKNOWN TIM',
       'BURGLARY,RESIDENCE,NIGHT', 'ROBBERY,POCKETBOOK/CARRIED BAG',
       'ROBBERY,CLOTHING', 'CUSTODIAL INTERFERENCE 1',
       'MARIJUANA, POSSESSION 1, 2 & 3', 'AGGRAVATED CRIMINAL CONTEMPT',
       'ROBBERY,LICENSED FOR HIRE VEHICLE', 'ROBBERY,BICYCLE',
       'CONTROLLED SUBSTANCE,SALE 3', 'ROBBERY,ATM LOCATION',
       'ROBBERY,PUBLIC PLACE INSIDE', 'LARCENY,GRAND BY OPEN BANK ACCT',
       'ROBBERY,NECKCHAIN/JEWELRY', 'ARSON 2,3,4', 'ROBBERY, CHAIN STORE',
       'MENACING 1ST DEGREE (VICT PEAC', 'ROBBERY,HOME INVASION',
       'RAPE 3', 'UNAUTHORIZED USE VEHICLE 2',
       'LARCENY,GRAND FROM PERSON,PERSONAL ELECTRONIC DEVICE(SNATCH)',
       'CONTROLLED SUBSTANCE, POSSESSI', 'ROBBERY,BAR/RESTAURANT',
       'AGGRAVATED HARASSMENT 1', 'LARCENY, GRAND OF MOPED',
       'BURGLARY,UNCLASSIFIED,NIGHT', 'SEXUAL ABUSE',
       'LARCENY,GRAND BY IDENTITY THEFT-UNCLASSIFIED',
       'LARCENY,GRAND BY FALSE PROMISE-IN PERSON CONTACT',
       'LARCENY,GRAND BY ACQUIRING LOST CREDIT CARD',
       'ROBBERY,CAR JACKING', 'CONTROLLED SUBSTANCE,SALE 1',
       'CONTROLLED SUBSTANCE,SALE 2', 'SODOMY 1',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-REPRODUCED CHECK',
       'LARCENY,GRAND FROM RESIDENCE/BUILDING,UNATTENDED, PACKAGE THEFT OUTSIDE',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-UNAUTHORIZED PURCHASE',
       'ROBBERY,DELIVERY PERSON', 'ROBBERY,RESIDENTIAL COMMON AREA',
       'FORGERY-ILLEGAL POSSESSION,VEH', 'CRIMINAL DISPOSAL FIREARM 1 &',
       'RAPE 1,ATTEMPT', 'BURGLARY, TRUCK UNKNOWN TIME',
       'MENACING 1ST DEGREE (VICT NOT', 'LARCENY,GRAND BY ACQUIRING LOS',
       'SODOMY 3', 'KIDNAPPING 1',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-TELLER',
       'MISCHIEF, CRIMINAL 3&2, BY FIR', 'BURGLARY,UNCLASSIFIED,DAY',
       'OBSCENE MATERIAL - UNDER 17 YE', 'PUBLIC ADMINISTRATION,UNCLASSI',
       'THEFT,RELATED OFFENSES,UNCLASS', 'OBSCENITY 1',
       'LARCENY,GRAND FROM TRUCK, UNATTENDED',
       'BURGLARY,UNCLASSIFIED,UNKNOWN', 'IMPERSONATION 1, POLICE OFFICE',
       'LARCENY,GRAND OF TRUCK', 'GAMBLING 1,PROMOTING,BOOKMAKIN',
       'TRESPASS 1,CRIMINAL', 'LARCENY,GRAND FROM PIER, UNATTENDED',
       'STOLEN PROPERTY-MOTOR VEH 2ND,', 'COERCION 1',
       'LARCENY,GRAND FROM NIGHT CLUB, UNATTENDED',
       'AGGRAVATED SEXUAL ASBUSE', 'BRIBERY,PUBLIC ADMINISTRATION',
       'FALSE REPORT 1,FIRE', 'BRIBERY, POLICE OFFICER',
       'ASSAULT TRAFFIC AGENT', 'CAUSE SPI/KILL ANIMAL',
       'IMPRISONMENT 1,UNLAWFUL', 'STALKING COMMIT SEX OFFENSE',
       'ROBBERY,ON BUS/ OR BUS DRIVER', 'ROBBERY,LICENSED MEDALLION CAB',
       'SALE SCHOOL GROUNDS 4', 'MARIJUANA, SALE 1, 2 & 3',
       'KIDNAPPING 2', 'TAMPERING WITH A WITNESS',
       'LARCENY, GRAND OF AUTO - ATTEM', 'CONTROLLED SUBSTANCE, SALE 4',
       'ROBBERY,GAS STATION', 'ROBBERY,CHECK CASHING BUSINESS',
       'FACILITATION 3,2,1, CRIMINAL', 'TERRORISM PROVIDE SUPPORT',
       'LARCENY,GRAND OF BOAT', 'CONSPIRACY 4, 3', 'ROBBERY,PHARMACY',
       'VEHICULAR ASSAULT (INTOX DRIVE', 'CHILD ABANDONMENT',
       'INTOXICATED DRIVING,ALCOHOL', 'COMPUTER TAMPER/TRESSPASS',
       'GAMBLING 1,PROMOTING,POLICY', 'USE OF A CHILD IN A SEXUAL PER',
       'SEX TRAFFICKING', 'LARCENY,GRAND FROM BOAT, UNATTENDED',
       'INCOMPETENT PERSON,KNOWINGLY ENDANGERING',
       'COURSE OF SEXUAL CONDUCT AGAIN',
       'END WELFARE VULNERABLE ELDERLY PERSON', 'ROBBERY,LIQUOR STORE',
       'ROBBERY,UNLICENSED FOR HIRE VEHICLE', 'CONSPIRACY 2, 1',
       'FORGERY,PRESCRIPTION', 'TAMPERING 1,CRIMINAL', 'ROBBERY, PAYROLL',
       'PROMOTING A SEXUAL PERFORMANCE', 'TAX LAW',
       'DRUG PARAPHERNALIA,   POSSESSE', 'HOMICIDE, NEGLIGENT, VEHICLE,',
       'SODOMY 2', 'LURING A CHILD', 'ESCAPE 2,1', 'SUPP. ACT TERR 2ND',
       'ARSON 1', 'SOLICITATION 3,2,1, CRIMINAL',
       'ROBBERY,OF TRUCK DRIVER', 'ASSAULT SCHOOL SAFETY AGENT',
       'ROBBERY,DOCTOR/DENTIST OFFICE', 'BAIL JUMPING 1 & 2',
       'PROSTITUTION 3,PROMOTING BUSIN', 'RIOT 1',
       'PROSTITUTION 2, COMPULSORY', 'PERJURY 2,1,ETC',
       'LABOR TRAFFICKING', 'HOMICIDE,NEGLIGENT,UNCLASSIFIE',
       'DRUG, INJECTION OF', 'NUISANCE, CRIMINAL', 'INCEST 3',
       'SALES OF PRESCRIPTION', 'EAVESDROPPING', 'HEALTHCARE/RENT.REG.',
       'MONEY LAUNDERING 1 & 2', 'PROSTITUTION 3, PROMOTING UNDE',
       'MISCHIEF 1,CRIMINAL,EXPLOSIVE', 'PLACE FALSE BOMB',
       'CONTROLLED SUBSTANCE,POSSESS.-', 'BIGAMY', 'ROBBERY,HIJACKING',
       'MANUFACTURE UNAUTHORIZED RECOR', 'SEX CRIMES',
       'AGGRAVATED GRAND LARCENY OF ATM'], dtype=object)

In [55]:
clean_df.specific_offense_id.isna().sum()

684

In [56]:
clean_df.specific_offense.isna().sum()

684

In [57]:
clean_df.loc[clean_df.specific_offense_id.isna(), 'specific_offense_id'] = 0.0

In [58]:
clean_df.loc[clean_df.specific_offense.isna(), 'specific_offense'] = 'UNKNOWN'

In [59]:
# convert specific offense id to string
clean_df['specific_offense_id'] = clean_df.specific_offense_id.astype(int)
clean_df['specific_offense_id'] = clean_df.specific_offense_id.astype(str)

In [60]:
# get the general offense specific fields that will be loaded into heo4j
specific_offenses = clean_df.loc[:,['offense_id', 'specific_offense', 'specific_offense_id']]
specific_offenses.head()

   offense_id                    specific_offense specific_offense_id
2         101                             UNKNOWN                   0
4         113      FORGERY,ETC.,UNCLASSIFIED-FELO                 729
6         105  ROBBERY,PERSONAL ELECTRONIC DEVICE                 386
8         107              BURGLARY,RESIDENCE,DAY                 221
11        104                              RAPE 2                 155

In [61]:
# export to csv
specific_offenses.to_csv('./data/imports_neo4j/specific_offenses.csv', index=None)

### Location

In [62]:
# get the location specific fields that will be loaded into heo4j
locations = clean_df.loc[:,['complaint_id', 'latitude', 'longitude']]
locations.head()

    complaint_id   latitude  longitude
2      294801329  40.668188 -73.875137
4      433883572  40.749601 -73.865373
6      730095503  40.863658 -73.891791
8      900168985  40.824941 -73.878322
11     507241260  40.853960 -73.900121

In [63]:
# get unique lat long for GIS analysis
unique_locs = clean_df.loc[:,['latitude','longitude']].groupby(['latitude', 'longitude']).count()
unique_locs

Empty DataFrame
Columns: []
Index: [(40.49994754300008, -74.23800586399994), (40.50021597600005, -74.24479548499993), (40.50056279200004, -74.24304923999993), (40.50062851400003, -74.23655561999993), (40.50091792200004, -74.24125266599998), (40.50110098000005, -74.24034719999997), (40.50128128000005, -74.23944531599993), (40.50146433200007, -74.238536244), (40.50198223800004, -74.24927511099996), (40.50216256200008, -74.24839481199997), (40.50218101600007, -74.23707531199994), (40.50234289300005, -74.24750731899996), (40.50238448800008, -74.23152410599994), (40.50278363800004, -74.25183113799993), (40.50288124800005, -74.24477647599997), (40.50294512300008, -74.22844081999993), (40.503230831000046, -74.243019383), (40.50323929100006, -74.23094813399997), (40.503413911000045, -74.24211029499997), (40.50353091300008, -74.23866947199997), (40.50377453100003, -74.24030646799997), (40.50392314300007, -74.23880391999995), (40.50394891600007, -74.24609288499995), (40.50408402300008, -74.237995417), (40.50423760300004, -74.25094123199995), (40.50447881300004, -74.24345183399998), (40.50474481700007, -74.23965549499997), (40.50496628700006, -74.22376940099997), (40.50503842000006, -74.24745975999997), (40.505069682000055, -74.24050170899994), (40.505202877000045, -74.23981176399997), (40.50539366500004, -74.24564151399994), (40.50591259300006, -74.25314826999994), (40.506109397000046, -74.24208049899994), (40.506195693000045, -74.23489597899999), (40.50627688700007, -74.25225064499993), (40.50630801500005, -74.22957786299997), (40.50656863500007, -74.25437700099997), (40.50657754000007, -74.24652329599996), (40.50672934200002, -74.23162905299995), (40.50689884700005, -74.24899137199996), (40.50721881500005, -74.23523760399996), (40.507261965000055, -74.23156616999995), (40.50726350600007, -74.25294121699994), (40.50727773300008, -74.23728397499997), (40.50742831200006, -74.23614095599999), (40.50764896500005, -74.24736153999999), (40.50785944300002, -74.24649206199997), (40.50788943400005, -74.24272345499998), (40.50796627100004, -74.23347094899998), (40.508075381000026, -74.24563338599995), (40.50812386100006, -74.23019184199995), (40.50815649000003, -74.24103784599998), (40.50825426200005, -74.25175105199997), (40.50852713400008, -74.24871334199997), (40.508574742000064, -74.23923049399998), (40.50866053900006, -74.22947446099994), (40.50876769000007, -74.24790150499997), (40.50882155600004, -74.23801587699995), (40.50887387000005, -74.22848265399993), (40.50896934700007, -74.23287389299998), (40.50900541400005, -74.24966450799997), (40.50917972600007, -74.24648254499994), (40.50927124900005, -74.24859024299997), (40.50932382600007, -74.24196986799996), (40.50936760300005, -74.24718808899996), (40.509532971000056, -74.22413351599994), (40.50981556200002, -74.24436672199994), (40.509952748000046, -74.24822955899998), (40.50999274900005, -74.23974263399998), (40.51010447400005, -74.24787769199997), (40.51022162500004, -74.25206054299997), (40.51036775100005, -74.23627360999996), (40.51036957600007, -74.24967319799998), (40.51050579200007, -74.23721631499996), (40.51066996600008, -74.24785101899994), (40.51075546000004, -74.25145119099993), (40.51082522200005, -74.24198249399994), (40.51087836800008, -74.23355304399996), (40.51088012600008, -74.24456840799998), (40.51116155600005, -74.24128603399998), (40.51133327100007, -74.23659349599995), (40.51137594900008, -74.22492368499996), (40.511379428000055, -74.25104356099996), (40.51143694000008, -74.24345918999995), (40.51146119600002, -74.23844244499998), (40.51158633800003, -74.24930372699998), (40.51170186000007, -74.23217853499993), (40.51174378700006, -74.21043539499993), (40.51175382000008, -74.24288133799998), (40.51180433500008, -74.25003459199996), (40.51181207600007, -74.23997932299993), (40.51185120700006, -74.23297743499995), (40.51186186600006, -74.23582215899995), (40.51203825400006, -74.249754952), (40.51208953700007, -74.24762252099998), (40.512460100000055, -74.25014853099998), (40.51260995400003, -74.23374969899999), (40.51262117300007, -74.19705971799993), (40.51278415300004, -74.24626566599994), ...]

[61514 rows x 0 columns]

In [64]:
# reset index twice to push index to column as unique identifier
unique_locs.reset_index(inplace=True)
unique_locs.reset_index(inplace=True)

In [65]:
unique_locs.rename({'index':'location_id'}, axis='columns', inplace=True)

In [66]:
unique_locs

       location_id   latitude  longitude
0                0  40.499948 -74.238006
1                1  40.500216 -74.244795
2                2  40.500563 -74.243049
3                3  40.500629 -74.236556
4                4  40.500918 -74.241253
...            ...        ...        ...
61509        61509  40.910955 -73.901092
61510        61510  40.911095 -73.901981
61511        61511  40.911307 -73.902904
61512        61512  40.912351 -73.900695
61513        61513  40.912723 -73.902525

[61514 rows x 3 columns]

In [67]:
unique_locs.to_csv('./data/gis/locations_for_gis.csv', index=False)

In [69]:
# run boro analysis model in gis and load results
unique_locs_boro = pd.read_csv('./data/gis/output/location_for_gis_with_boro.csv',usecols=['location_id','boro_name'])

In [71]:
unique_locs_boro

       location_id      boro_name
0                0  Staten Island
1                1  Staten Island
2                2  Staten Island
3                3  Staten Island
4                4  Staten Island
...            ...            ...
61509        61509          Bronx
61510        61510          Bronx
61511        61511          Bronx
61512        61512          Bronx
61513        61513          Bronx

[61514 rows x 2 columns]

In [72]:
unique_locs_with_boro = unique_locs.join(unique_locs_boro, on='location_id', lsuffix='_loc')

In [73]:
unique_locs_with_boro.drop(['location_id_loc'], axis='columns', inplace=True)

In [74]:
unique_locs_with_boro

        latitude  longitude  location_id      boro_name
0      40.499948 -74.238006            0  Staten Island
1      40.500216 -74.244795            1  Staten Island
2      40.500563 -74.243049            2  Staten Island
3      40.500629 -74.236556            3  Staten Island
4      40.500918 -74.241253            4  Staten Island
...          ...        ...          ...            ...
61509  40.910955 -73.901092        61509          Bronx
61510  40.911095 -73.901981        61510          Bronx
61511  40.911307 -73.902904        61511          Bronx
61512  40.912351 -73.900695        61512          Bronx
61513  40.912723 -73.902525        61513          Bronx

[61514 rows x 4 columns]

In [75]:
unique_locs_boro.boro_name.isna().sum()

0

In [76]:
locations_merged = locations.merge(unique_locs_with_boro, how='outer', on=['latitude','longitude'])

In [77]:
locations_merged

        complaint_id   latitude  longitude  location_id boro_name
0          294801329  40.668188 -73.875137        17588  Brooklyn
1          984985109  40.668188 -73.875137        17588  Brooklyn
2          236124378  40.668188 -73.875137        17588  Brooklyn
3          403601885  40.668188 -73.875137        17588  Brooklyn
4          210506500  40.668188 -73.875137        17588  Brooklyn
...              ...        ...        ...          ...       ...
270216     618850936  40.787229 -73.811050        48269    Queens
270217     461353346  40.769837 -73.769712        46159    Queens
270218     177906577  40.692858 -73.903543        26082  Brooklyn
270219     877569272  40.662082 -73.861913        15968  Brooklyn
270220     463193037  40.692865 -73.796835        26084    Queens

[270221 rows x 5 columns]

In [78]:
# export to csv
locations_merged.to_csv('./data/imports_neo4j/locations.csv', index=None)

In [80]:
locations_near = pd.read_csv('./data/gis/output/locations_near.csv', usecols=['in_location_id','near_location_id','NEAR_DIST','NEAR_RANK'])

In [81]:
locations_near.rename({
    "NEAR_DIST": "near_dist",
    "NEAR_RANK": "near_rank"
}, axis='columns', inplace=True)

In [82]:
locations_near

          near_dist  near_rank  in_location_id  near_location_id
0        473.523635          1               0                 3
1        571.947999          2               0                 7
2        629.578843          3               0                 6
3        774.973099          4               0                 5
4        853.867313          5               0                10
...             ...        ...             ...               ...
2339983  523.699329          1           61513             61512
2339984  526.376203          2           61513             61511
2339985  611.923327          3           61513             61510
2339986  756.534984          4           61513             61509
2339987  976.969304          5           61513             61502

[2339988 rows x 4 columns]

In [83]:
# export to csv
locations_near.to_csv('./data/imports_neo4j/locations_near.csv', index=None)